@page "/proudmom"

<h1>Proud Mom Display</h1>

<p> <br /> I am able to insert photos now. </p>

<p>Gaze in aww of my rapidly developing skillset: </p>

<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/357/190/e68.jpg" alt="Sad | Dogs | Know Your Meme" >

<p> <br /><br />Very talent <br /> Much wow</p>

<p>Unrelated, here's a link to a </p><a href="https://www.w3schools.com/">link</a>